<!DOCTYPE html>
<html>
<head>
<title>North London Riichi Open</title>
<style>
  body {
    line-height: 1.5 !important;
  }
</style>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<xmp style="display:none" theme="readable">
  {{ content }}
</xmp>
<script src="https://cdn.rawgit.com/Naereen/StrapDown.js/master/strapdown.min.js?nonnavbar=y&keepicon=y"></script>
<script type="text/javascript">
      function initialize() {
        var hostel = {lat: 51.7040419, lng: -0.0222977 };
        var map = new google.maps.Map(document.getElementById('map'), {
          center: hostel,
          zoom: 12
        });
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'), {
              position: hostel,
              pov: {
                heading: 300,
                pitch: 10
              }
            });
        map.setStreetView(panorama);
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDPE5uiVh2j4lhGckCD9U6jWYwY5JNj3Q&callback=initialize" type="text/javascript">
</script>
</body>
</html>
